name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  vitest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Run Vitest (not watch mode)
        run: npm run test -- --run
